h1 { 
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
  line-height: 0.5;
  color: darkgrey;
  }

  h2{ 
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
  line-height: 0.5;
  }

p { 
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
  line-height: 0.4;
  align-content: center;
  }


.tableHead{
  width: 400px; 
  text-align: left;
}

img {
  border-radius: 50%;
}

.container{
  display: flex;
  max-width: 800px;
}

.boxData {
     flex: 1 1 100px;
     background: #eee;
     justify-content: center;
}

.boxPic {
     flex: 1 1 100px;
     background: #eee;
     justify-content: center;
}
