h1, h2{ 
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  }

p { 
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
  line-height: 0.6;
  }
