body{
  background-color: #eee;
}
h1 { 
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
  line-height: 0.5;
  color: darkgrey;
  vertical-align: middle;
  }

  h2, h3{ 
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
  line-height: 0;
  vertical-align: middle;
  }

p { 
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
  line-height: 0.4;
  }



.profile {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.icon{
  width: 30px;
  vertical-align:middle;
}

.container{
  display: flex;
  max-width: 800px;
  flex-wrap: wrap;
  background-color: white;
  margin: auto;
  align-items: top;
  
}


.boxData {
  flex: 1 1 250px;
  margin: 15px;
  padding: 15px;
  margin-bottom: 0px;
}
.boxData2 {
  flex: 1 1 250px;
  margin: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.boxPic {
  flex: 1 1 200px;
  display: block;
  margin: 15px;
  padding: 15px;
  justify-self: center;
  margin-bottom: 0px;
}



.boxWe {
  flex: 1 1 250px;
  margin: 15px;
  border-bottom: 1px solid;
}

.boxDate {
  flex: 1 1 1px;
  margin: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.boxPosition {
  flex: 1 1 250px;
  margin: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}
.boxAct {
  flex: 1 1 500px;
  margin: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
}


ol {
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
  padding-left: 20px;
  list-style-type: circle;
      
}

li {
  font-family: Calibri;
  font-style: normal;
  font-variant: normal;
}


.square{
  pointer-events: none;
  position: relative;
  width: 100px;
  height: 28px;
  margin: 1px;
  background-color: blue;
  font-size: 14px;
}

.line{
  width: 100px;
}




.shadow {
  position: absolute;
  opacity: .2;
}